h2 {
  margin: 0 0 20px 0;
}

.main {
  padding: 0 20px;
}

.login {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 600px) {
  .main {
    padding: 2em 10em;
  }
}

@media screen and (min-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
