/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

custom-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
    height: 100px !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}

.snackbar-success {
  .mdc-snackbar__surface {
    background-color:
      #56D285 !important;
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}