form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 12px;
}

@media screen and (min-width: 600px) {
  mat-form-field {
    width: 300px;
  }

  form {
    padding: 10px 40px;
  }
}
