<div class="main">
  <div class="input">
    <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Produto</mat-label>
      <input type="text"
            aria-label="Produto"
            matInput
            formControlName="stock"
            [matAutocomplete]="auto"
            (focus)="filter()"
            (input)="filter()"
            #productInput
            >
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayStock">
          <mat-option> - </mat-option>
        @for (stock of filteredStocks; track stock) {
          <mat-option [value]="stock">{{stock.product.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    </form>
    <div class="filter">
      <button (click)="clearSearch()" mat-mini-fab>
        <mat-icon>filter_alt_off</mat-icon>
      </button>
      <button (click)="search()" mat-mini-fab>
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  @if(logs.length > 0) {
    <div class="main-products">
      <table mat-table [dataSource]="logs">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let element"> {{ element.id }}. </td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef> Produto </th>
          <td mat-cell *matCellDef="let element"> <strong>{{ element.stock?.product?.name ?? '--' }}</strong> </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Qtd </th>
          <td mat-cell *matCellDef="let element"> <strong>{{ element?.quantity ?? '--' }}</strong> </td>
        </ng-container>

        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef> Usuário </th>
          <td mat-cell *matCellDef="let element"> <strong>{{ element?.account?.name ?? '--' }}</strong> </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let element"> <strong>{{ element?.date | date: 'dd/MM/yyyy HH:mm' }}</strong> </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="actions">
              <button mat-mini-fab (click)="viewDialog(element)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  } @else {
    <p>Não há logs a ser exibidos</p>
  }
</div>
