.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background: rgb(190, 220, 246);
  font-weight: 600;
  height: 50px;
}

.navbar-group {
  display: flex;
  gap: 10px;
}

.home {
  display: flex;
  align-items: center;
}
