@if (product) {

<h2 mat-dialog-title> {{ product.name }} </h2>
<mat-dialog-content>
  <div class="row">
    <div>
      <strong>Categoria</strong>
      <p>{{ product.category.name }}</p>
    </div>
    <div>
      <strong>Preço</strong>
      <p>{{ utilsService.convertToReal(product.price) }}</p>
    </div>
  </div>
  <div class="row">
    <div>
      <strong>Ativo</strong>
      <p>{{product.isActive ? 'Sim' : 'Não'}}</p>
    </div>
    <div>
      <strong>Estoque</strong>
      <p>{{stock?.quantity}}</p>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-mini-fab [mat-dialog-close]="true" cdkFocusInitial>
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>

}
