<form [formGroup]="form" id="form">
  <h2>Login</h2>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [formControlName]="'name'" />
    @if (name.errors && name.errors['required']) {
      <mat-error>Nome é obrigatório</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input matInput type="password" [formControlName]="'password'" />
    @if (password.errors && password.errors['required']) {
      <mat-error>Senha é obrigatória</mat-error>
    }
  </mat-form-field>

  <button mat-button (click)="submit()" type="submit">Enviar</button>
</form>
